extend ../layout

block content

  canvas#backgroundCanvas(height='600', width='800') If the game doesnt load you need to try a different browser    
  canvas#mainCanvas(height='600', width='800') 
  canvas#bikeCanvas(height='600', width='800')  
  div#score-and-level
    div.score Score:  
      span#score   
    div.level Current Wave:  
      span#level  
  #yew-luze.yew-luze Game Over
    br
    span(onclick='game.restart()') CLICK HERE to restart the game!  
  script(src='/javascripts/bG.js', type='text/javascript')

  div.logout
    a(href="../login") Logout 
  div.directions
    p USE ARROW KEYS TO MOVE
    br
    p PRESS SPACEBAR TO SHOOT!
    p glhf
  
